.App{
  display: flex;
  justify-content: center;
  width: 60vw;
  flex-direction: column;
  margin-left: 20vw;
  margin-top: 50px;
}
.selfil{
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}
.selfil-input{
  font-size: 20px;
  font-weight: 550;
  margin-left: 3vw;

}
.App-Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}
.header-input>label{
  font-weight: 600;
}
.header-input>input{
  margin-left: 1vw;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  text-indent: 8%;
}
.table-tr{
  
}
table{
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr{
  border: 1px solid black;
  background-color: rgb(243, 239, 239);
}
th{
  border: 1px solid black;
  background-color: #C4C4C4;
  margin: 0;
  cursor: pointer;
}
td{
  text-align: center;
  font-weight: 700;
}
.sort-icon{
  text-align: center;
  margin-left: .7vw;
}
